// 颜色定义规范
// basic
$color-orange = #fc9153
$color-regular-blue = #4a4c5b
$color-background = #f3f4f5
$color-white = #fff

//blue
$color-blue = #444654

//orange
$color-dark-orange = #e8864c
$color-light-orange = #fdc2a5
$color-orange-opacity = rgba(252, 145, 83, .08)
$color-light-orange-opacity = rgba(252, 145, 83, .04)

//gray
$color-grey = #666
$color-light-grey-s = #ccc
$color-light-grey-sss = #fcfcfc

