//颜色定义规范
//basic
$color-default = #DC234A
$color-default-dark = #B92042
$color-white = #fff
$color-background = #f3f4f5

//gray
$color-grey = #666
$color-light-grey-s = #ccc
$color-light-grey-sss = #fcfcfc

