@import "../var/color.styl"

//button
$btn-color := $color-white
$btn-bgc := $color-default
$btn-bgc-active := $color-default-dark

//disabled
$btn-disabled-color := $color-white
$btn-disabled-bgc := $color-light-grey-s
$btn-disabled-bdc := $color-light-grey-s
